{{ if eq .chezmoi.os "linux" -}}
[".local/share/fcitx5/rime/wanxiang-lts-zh-hans.gram"]
type = "file"
url = "https://github.com/amzxyz/RIME-LMDG/releases/download/LTS/wanxiang-lts-zh-hans.gram"
refreshPeriod = "168h"

[".config/hypr/scripts/hyprsplit.lua"]
type = "file"
url = "https://raw.githubusercontent.com/shezdy/hyprsplit/6b00b677d8905fb38779c91e12d6294e0e586a44/init.lua"

[".local/share/krita"]
type = "archive"
url = "https://www.peppercarrot.com/extras/resources/deevad-bundle_25.01.zip"
path = "Deevad_25.01.bundle"

[".local/share/icons/aosp-cursors"]
type = "archive"
url = "https://github.com/Tech-Tac/aosp-cursors/releases/download/1.1.0/aosp-cursors-linux-1.1.0.tar.xz"
exact = true
stripComponents = 1

[".local/share/icons/Hackneyed"]
type = "archive"
url = "https://gitlab.com/-/project/6703061/uploads/1947bc32837caa903cfabf16c80971d7/Hackneyed-0.9.3-right-handed.tar.bz2"
exact = true
stripComponents = 1

# FIXME: icons arent working...
[".local/share/icons"]
type = "archive"
url = "https://github.com/PapirusDevelopmentTeam/papirus-icon-theme/archive/refs/tags/20250501.zip"
stripComponents = 1
include = ["papirus-icon-theme-20250501/Papirus-*/**"]
{{ end -}}
